* {
    padding: 0;
    margin: 0;
}

/* Начало наполнение страницы */

a {
    text-decoration: none;
}

.page {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    min-height: 100vh;
}

.all-authors {
    display: flex;
    flex-direction: column;
}

.letter-container{
    display: flex;
    flex-direction: column;
}

.letter{
    margin-left: 10px;
}

@media (max-width: 570px){
    .authors-container {
        justify-content: center;
    }
    .letter {
        text-align: center;
    }
}

.authors-container{
    display: flex;
    flex-wrap: wrap;
}

.authors-container-item {
    flex: 1 0 calc(33.33% - 20px);
    min-width: 200px;
    max-width: 250px;
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

.author-detail {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.image-text img {
    float: left;
    margin-right: 50px;
}

.biography h2 {
    text-align: center;
}

.popular-books-container {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
}

.popular-books {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.popular-books-item {
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

.main-page-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.latest-books {
    display: flex;
    flex-direction: column;
}

.latest-books-all{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.latest-book {
    max-width: 100px;
    display: flex;
    flex-direction: column;
}

.third-container {
    display: flex;
    justify-content: center;
}

.random-books {
    display: flex;
    flex-direction: column;
}

.random-books-all{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.random-book {
    max-width: 100px;
    display: flex;
    flex-direction: column;
}

.closest-birthdays {
    max-width: 400px;
    border: 1px solid black;
    text-align: center;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.btn {
    margin-top: 10px;
}

/* Конец наполнения страницы*/

/* Начало шапки */

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

a.login {
    float: right;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .icon {
    display: none;
}

.topnav a:hover {
    background-color: #555;
    color: white;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child){
        display: none;
}

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
}
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* Конец шапки */

.footer {
    margin-top: auto;
    max-height: 100px;
    max-weight: 100%;
    background: grey;
    text-align: center;
}