* {
    padding: 0;
    margin: 0;
}

/* Начало наполнение страницы */

a {
    color: black;
    text-decoration: none;
}

.page {
    display: flex;
    max-width: 100%;
    flex-direction: column;
    min-height: 100vh;
}

.all-authors {
    display: flex;
    flex-direction: column;
}

.letter-container{
    display: flex;
    flex-direction: column;
}

.letter{
    margin-left: 10px;
}

@media (max-width: 570px){
    .authors-container {
        justify-content: center;
    }
    .letter {
        text-align: center;
    }
}

.authors-container{
    display: flex;
    flex-wrap: wrap;
}

.authors-container-item {
    flex: 1 0 calc(33.33% - 20px);
    min-width: 200px;
    max-width: 250px;
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
    flex-direction: column;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
}

.author-detail {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.image-text img {
    float: left;
    margin-right: 50px;
}

.biography h2 {
    text-align: center;
}

.popular-books-container {
    display: flex;
    flex-direction: column;
}

.title {
    text-align: center;
}

.popular-books {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.popular-books-item {
    text-align: center;
    margin-right: 10px;
    margin-left: 10px;
}

.main-page-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.latest-books {
    display: flex;
    flex-direction: column;
}

.latest-books-all{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.latest-book {
    max-width: 100px;
    display: flex;
    flex-direction: column;
}

.third-container {
    display: flex;
    justify-content: center;
}

.random-books {
    display: flex;
    flex-direction: column;
}

.random-books-all{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.random-book {
    max-width: 100px;
    display: flex;
    flex-direction: column;
}

.closest-birthdays {
    max-width: 400px;
    border: 1px solid black;
    text-align: center;
}

.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.btn {
    margin-top: 10px;
}

.year-container {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.year-creation {
    text-align: center;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
}

.book-item {
    max-width: 150px;
    margin-left: 15px;
}

.info-container {
    max-width: 400px;
}

.book-info {
    display: flex;
    flex-wrap: wrap;
}

.book-info img {
    float: left;
    margin-right: 50px;
}

.book-page {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.book-text h2 {
    text-align: center;
}

.search-container {
    margin-top: 5px;
}

.search-results {
    position: absolute;
    z-index: 1;
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    max-height: 200px;
    overflow-y: auto;
    max-width: 65%;
}

.search-item {
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: #333;
}

.search-item:hover {
    background-color: #ddd;
}

.review-creation {
    display: flex;
    justify-content: center;
}

.review-creation-title {
    text-align: center;
}

.review-add {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.review-item {
    border: 1px solid grey;
    margin-bottom: 5px;
}

/* Конец наполнения страницы*/

/* Начало магазина */

.shop-container {
    display: flex;
    justify: center;

}

.shop {
    display: flex;
    justify-content: center;
    align-self: flex-start;
    flex-wrap: wrap;
}

.product-inner {
   width: 300px;
   background: white;
   margin-left: 20px;
   margin-top: 5px;
   text-align: center;
   border-bottom: 2px solid #ebebec;
   transition: .2s linear;
}

.product-inner:hover {
   border-color: #bca480;
}

.product-wrap {
   position: relative;
   overflow: hidden;
   margin-bottom: 15px;
}
.product-wrap img {
   display: block;
}
.actions {
   position: absolute;
   left: 0;
   bottom: -20%;
   width: 100%;
   background: rgba(59, 62, 67, 0.75);
   transition: .3s linear;
}

.product-inner:hover .actions {
   bottom: 0;
}

.actions button, .actions a {
   text-decoration: none;
   float: left;
   width: 50%;
   color: grey;
   padding: 15px 0;
   transition: .2s linear;
}

.actions button:hover, .actions a:hover {
   background: rgba(59, 62, 67, 0.85);
}

.product-info {
   padding-bottom: 10px;
   font-family: 'Noto Sans', sans-serif;
}
.product-title {
   margin: 0 0 10px 0;
   font-family: 'Noto Sans', sans-serif;
}
.product-title a {
   text-decoration: none;
   color: #1e1e1e;
   font-weight: 400;
   font-size: 16px;
}
.price {
   font-weight: bold;
   color: #bca480;
}

.sidenav {
    margin-right: 50px;
    width: 200px;
    top: 20px;
    background: #eee;
    overflow-x: hidden;
    border-right: 5px solid black;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
}

.sidenav a:hover {
    color: #064579;
}

/* Конец магазина */

/* Начало шапки */

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

a.login {
    float: right;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.topnav .icon {
    display: none;
}

.topnav a:hover {
    background-color: #555;
    color: white;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child){
        display: none;
}

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
}
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* Конец шапки */

.footer {
    margin-top: auto;
    max-height: 100px;
    max-weight: 100%;
    background: grey;
    text-align: center;
}